<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="/login" class="p-4" method="POST">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required> <!-- Changed name to "username" -->
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Login</button>
              </br>
              <div class="text-center login-separartor my-2 d-flex justify-content-center">
                <span>or</span>
              </div>
              <a href="/auth/google" class="btn btn-dark w-100">Login with Google</a>
            </form>            
            <div class="text-center my-2">
               <p>Don't have an account, <a class="text-decoration-none" href="/register">Sign Up</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>