<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>