<div class="container my-5">
    <h2 class="mb-2">Project Description</h2>
    <p>Welcome to my portfolio project, a dynamic web application that showcases my expertise in modern web development.</p>

    <h3 class="mt-2">Key Features:</h3>
    <ul>
        <li>User Notes: Users can efficiently manage their notes, including creating, updating, deleting, and viewing them.</li>
        <li>Authentication Options: Choose between email/password login or social authentication through Google.</li>
        <li>Pagination: Easily navigate through extensive note collections with built-in pagination.</li>
    </ul>

    <h3 class="mt-3">Tech Stack:</h3>
    <ul>
        <li>Node.js: The backend, built with Node.js, ensures robust and scalable performance.</li>
        <li>Express.js: Leveraging Express.js, the application delivers fast and efficient routing and middleware handling.</li>
        <li>EJS Templating: Dynamic content is generated using EJS, enhancing user interaction.</li>
        <li>Passport.js: Secure user sessions are seamlessly managed with Passport.js, ensuring data protection.</li>
        <li>Google OAuth: Simplify user registration and login with Google OAuth authentication.</li>
    </ul>

    <p class="mt-3">This project demonstrates my ability to create practical web applications that prioritize functionality 
        and user experience. With the added feature of pagination and the utilization of Express.js, it offers an even smoother experience for users managing large note collections. 
        Explore this application to see my dedication to excellence in web development. Thank you for visiting!</p>         
</div>