<div class="container my-5">
    <div class="row d-flex justify-content-center align-items-center" style="min-height:400px">
        <div class="col-12 col-md-7 mx-auto text-center hero-wrapper">
            <h1 class="mb-3">Getting notes just got easier </br>keep your thoughts organized</h1>
            <p class="px-5">Capture, organize, and innovate with ease. 
            Redefine note-taking for seamless creativity 
            and productivity. Join us today!"</p>
            <a href="/dashboard" class="btn btn-primary btn-lg">Go to Dashboard</a>
        </div>
    </div>         
</div>
