<!DOCTYPE html>
<html>
<head>
    <title>Get Notes | Take Notes Efficiently</title>

    <!-- style sheets -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="d-flex flex-column min-vh-100">
    <main>
      <%- body %>
    </main>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
