<!DOCTYPE html>
<html>
<head>
    <title>My Bootstrap Project</title>

    <!-- style sheets -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <%- include('../partials/header'); %>
    </header>
      
      <main>
        <%- body %>
      </main>
      
    <footer class="mt-auto">
      <%- include('../partials/footer'); %>
    </footer>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
